body {
	padding-top: 70px;
	/*background-color: rgba(51,153,51, 0.3);*/
	background-image: url(img/bg.jpg);
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
}
.text-bright{
	color: rgba(255,255,255, 1);
	background: rgba(0,0,0, 0.4);
	width: 50%;
	padding-top: 20px;
	bottom: 10;
	margin: auto;
}
.image-style{
	opacity: 1;
	margin: auto;
    width: 50%;
    min-height: 80%;
    max-height: 80%;
    max-height: 300px;
}
.footer {
    position: fixed;
    bottom: 30;
    width: 100%;
}
.glyphicon{
	color: rgb(255,255,255);
}
.glyphicon-black{
	color: rgb(0,0,0);
}
.thumbnail{
	border: 1px solid rgb(0, 0, 0);
}
.thumbnail-bright{
	background: none;
	border: 1px solid rgb(255,255,255);
}
a:hover,
a:focus{
	color: rgb(255,255,255);
}
.btn-custom,
.btn-custom:focus{
	background: none;
	color: rgb(0, 0, 0);
	padding: 15px 10px; 
	border: 1px solid rgb(0, 0, 0); 
	outline:none;
	color: rgb(0, 0, 0);
}
.btn-custom:hover{
	background: rgba(0, 204, 51, 0.6);
	color: rgb(255, 255, 255);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	border: 1px solid rgb(255, 255, 255);
}
.btn-custom:active{
	background: rgba(56, 124, 31, 1);
	color: rgb(255, 255, 255);
}
.btn-custom:focus{
	
}
.btn-custom-bright{
	background: none;
	color: rgb(255,255,255);
	padding: 15px 10px; 
	border: 1px solid rgb(255,255,255); 
}
.btn-custom-bright:hover{
	background: rgba(0, 204, 51, 0.6);
	color: rgb(255, 255, 255);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	border: 1px solid rgb(255, 255, 255);
}
.btn-custom-bright:active{
	background: rgba(56, 124, 31, 1);
	color: rgb(255, 255, 255);
}
.btn-custom-danger{
	background: none;
	color: rgb(0, 0, 0);
	padding: 15px 10px; 
	border: 1px solid rgb(0, 0, 0); 
}
.btn-custom-danger:hover{
	background: rgba(255, 0,0, 0.6);
	color: rgb(255, 255, 255);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	border: 1px solid rgb(255, 255, 255);
}
.btn-custom-danger:active{
	background: rgba(255, 0,0, 1);
	color: rgb(255, 255, 255);
}
.navbar-custom{
	background: rgba(0, 0, 0, 0.45);
	padding: 5px 10px; 
	border: 0px solid rgb(0, 0, 0); 
}
.navbar-inverse .navbar-nav > li > a {
  color: rgba(255,255,255, 1);
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: rgba(208,114,12, 1);
  background-color: transparent;
}
.img{
	border: 1px solid rgb(0, 0, 0);
}
.login-style{
	background: rgba(212, 129, 37, 0.8);
	border: 1px solid rgb(0, 0, 0);
}
.doctors-style{
	background: rgba(212, 129, 37, 0.2);
}
.login-text{
	color: black;
}
.panel{   
    background: rgba(212, 129, 37, 0.01); 
    color: rgb(255,255,255); 
    border: 1px solid rgb(0, 0, 0);
}
.panel-bright{   
    background: rgba(212, 129, 37, 0.01); 
    color: rgb(255,255,255); 
    border: 1px solid rgb(255,255,255);
}
.modal-body,
.modal-header{
	background: rgba(212, 129, 37, 0.8); 
    color: rgb(255,255,255); 
}
.bg-theme{
	background: rgba(0, 0, 0, 0.4); 
}
.bg-table{
	background: rgba(0, 0, 0, 0.6); 
	color: rgb(255,255,255);
}
.bg-table-head{
	background: rgba(192,192,192, 0.6); 
}
.bg-table-footer{
	background: rgba(0, 0, 0, 0.6); 
	color: rgb(255,255,255);
	border: 1px solid rgb(255,255,255);
}
.equal {
  display: flex;
  flex-wrap: wrap;
}
.row.match-my-cols {
    overflow: hidden; 
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
img {
    max-width: 100%;
    max-height: 100%;
    min-height: 220px;
}

.div100h{
	height:100%;
}

.div100w{
	width:100%;
}

.divCenter100w {
    margin: auto;
    width: 100%;
    padding: 10px;
}	

.top-buffer20{
	margin-top:20px;
}

.top-buffer15{
	margin-top:15px;
}

.top5{
	padding-top: 5px;
}
.top10{
	padding-top: 10px;
}
.top15{
	padding-top: 15px;
}
.top20{
	padding-top: 20px;
}
.top25{
	padding-top: 25px;
}
.top30{
	padding-top: 30px;
}
.top35{
	padding-top: 35px;
}
.top40{
	padding-top: 40px;
}
.top45{
	padding-top: 45px;
}
.top50{
	padding-top: 50px;
}
.top55{
	padding-top: 55px;
}
}.top60{
	padding-top: 60px;
}
.top65{
	padding-top: 65px;
}
.top70{
	padding-top: 70px;
}
.top75{
	padding-top: 75px;
}
.top80{
	padding-top: 80px;
}
.top85{
	padding-top: 85px;
}
.top90{
	padding-top: 90px;
}
.top95{
	padding-top: 95px;
}
.top100{
	padding-top: 100px;
}
.top105{
	padding-top: 1055px;
}
.top110{
	padding-top: 110px;
}
.top115{
	padding-top: 115px;
}
.top120{
	padding-top: 120px;
}
.top125{
	padding-top: 125px;
}
.top130{
	padding-top: 130px;
}
.top135{
	padding-top: 135px;
}
.top140{
	padding-top: 140px;
}
